<!DOCTYPE html>
 <html>
  <head>    
   <title> kyc category create</title> 
</head>
<body>       <!-- <form
method="post" > -->        
 <img src="files/20230405140610407623.png"/>  
 <form method="post" enctype="multipart/form-data">       

   Name &nbsp;&nbsp;
<input type="text" name="name"/>   
      <br>      
         Type &nbsp;&nbsp;
<select name="type">           
  <option value=1>non-academic</option>
<option value=2>academic</option>     
    </select>      
       <br>       
         icon &nbsp;&nbsp;   
   <input type="file" name="icon" accept="image/jpeg, image/png">     
       <br>        
       <input type="submit" name="submit">
</form> 
</body>
 </html>
